<row class="footer">
    <spacer size="30"></spacer>
    <p class="footer-text">{{ 'footer.mention' | trans({'%date%': ('now' | date('Y'))}, 'email') | raw }}</p>
    <spacer size="40"></spacer>
</row>
