@layer components {
  .container {
    @apply px-4 mx-auto;
    max-width: 100%;
    @media screen and (min-width: 768px) {
      max-width: 740px !important;
    }

    .podium-light {
      background-image: radial-gradient(circle at 50% 5.7%, rgba(255,250,223,0.16) 0%, rgba(255,243,188,0.00) 50%);
    }
  }

  .zone {
    @apply bg-black rounded-lg relative flex flex-col;

    > div {
      z-index: 1;
    }

    &::before {
      content: "";
      @apply block absolute -top-[1px] -left-[1px] rounded-lg;
      background-image: linear-gradient(135deg, #404144 5%, #313235 100%);
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      z-index: -1;
    }

    &.rounded-r-none::before, &.rounded-r-none::after {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &::after {
      content: "";
      @apply block absolute top-0 left-0 rounded-lg w-full h-full;
      background-color: #2F3032;
      background-image: radial-gradient(circle at 12% 15%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.00) 75%);
      background-position: top left;
      background-repeat: no-repeat;
      background-size: 348px 216px;
      z-index: 0;
    }
  }

  .content-height {
    height: calc(100dvh - 70px - 56px - 20px);
  }

  .link {
    background-image: linear-gradient(to right, currentColor 33%, transparent 33%, transparent 66%, currentColor 66%);
    background-size: 310% 1px;
    background-position: right bottom;
    transition: 0.5s linear;
    @apply inline font-bold bg-no-repeat;

    &:hover, &:focus {
      background-position: left bottom;
    }
  }

  .separator {
    @apply w-full h-[1px] block bg-white-6;

    &-full {
      width: calc(100% + 40px);
      @apply -ml-4
    }

    &-vertical {
      @apply w-[1px] h-full;
    }
  }

  .car-in-listing, .cosmetic-gradient-mask {
    background-image: linear-gradient(-62deg, rgba(255,255,255,0.80) 32%, rgba(255,255,255,0.60) 100%);
  }

  .duel-car {
    background-image: linear-gradient(-70deg, rgba(255,255,255,0.80) 32%, rgba(255,255,255,0.60) 100%);
  }

  .podium-part {
    @apply relative;

    span {
      text-shadow: 0 1px 3px rgba(0,0,0,0.2);
    }

    &::before {
      content: "";
      @apply absolute w-full h-7 block bottom-0 left-0;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0,0,0,0.0));
    }
  }

  .tabs-sillyseason {
    @apply sticky top-0 z-10;
    button {
      @apply py-3 bg-[#303133];
      &:first-child {
        @apply rounded-tl-lg;
      }
      &:last-child {
        @apply rounded-tr-lg;
      }
      &.tab-active {
        @apply bg-primary text-black;
      }
    }
  }

  .block-cms {
    h2 {
      @apply h3 mb-4 mt-2 text-primary;
      &:not(:first-child) {
        @apply border-t border-white-6 pt-6;
      }
    }
    h3 {
      @apply h4 mb-4 mt-2;
    }
    p {
      @apply mb-4;
    }
    table {
      @apply w-full mb-4;
      th, td {
        @apply border border-white/10 align-top p-2;
      }
      th {
        @apply text-left bg-white-6;
      }
    }
  }
}
