/build/**
/coverage/**
/docs/**
/jsdoc/**
/templates/**
/tests/bench/**
/tests/fixtures/**
/tests/performance/**
/tmp/**
test.js
!.eslintrc.js
polyfill.js
node_modules
cache
lib
dist
webpack.*.js
server.js
build.js
init.js
